body {
    background-color: blue;
}

::-webkit-scrollbar {
    display: none;
}

#gameCanvas {
    background-color: blue;
}

html, body { margin: 0; overflow: hidden; }

canvas { display: block; }
